
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>sign-in</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div class="m-12 p-12 outline outline-purple-200">
      <h1 class="text-4xl font-bold underline">Registrar</h1>
      <a class="bg-red" data-hx-get="/click">Click Me!</a>
    </div>
<div id="sign-in"></div>
    <script src="signIn.js"></script>
  </body>
</html>
