.categories {
    outline: pink;
    overflow-y: hidden;
    inline-size: 100%;
}
.categories__label {
    font-size: 0.825rem;
    color: var(--font-title-clr);
}

.categories__cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 180px;
    overflow-y: scroll;
    scrollbar-width: none;
    gap: 2em;
    padding: 1em;
}
