.categories__card {
    padding: 1em;
    position: relative;
    gap: 0;
    line-height: 0.625;
}

.card__title {
    font-size: 0.825rem;
    font-weight: 500;
    color: var(--font-title-clr);
}

.card__category-name {
    font-size: 1.225rem;
    font-weight: bold;
    padding-block-end: 1em;
}

.card__bar {
    padding: 2px;
    background-color: var(--checkbox-primary-clr);
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: 1em;
}
