:root {
    --font-body: Ubuntu, sans-serif;
    --bg-primary-clr: #adbaeb;
    --card-primary-clr: #f6f5f4;
    --category-card-primary-clr: #f4f6fd;
    --font-body-clr: #020417;
    --font-title-clr: #9d9ab4;
    --checkbox-primary-clr: #a056c5;
    --checkbox-secondary-clr: #2643c4;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--font-body);
    line-height: 1;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: var(--bg-primary-clr);
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: 100%;
}

.styled-paper {
    min-inline-size: 300px;
    max-inline-size: 720px;
    max-block-size: 820px;
    margin-block: 10%;
    margin-inline: 5%;
    padding: 2em;
    position: relative;
    overflow-y: hidden;
}

@media (min-width: 720px) {
    .styled-paper {
        margin-block: 1em;
        margin-inline: auto;
    }
}

.close-btn {
    border: 2px solid var(--font-title-clr);
    inline-size: 36px;
    block-size: 36px;
    border-radius: 99999px;
    padding: 0.625em;
    display: grid;
    place-content: center;
    color: black;
    margin-inline-start: auto;
    opacity: 0.6;
    transition: opacity 0.2s;
}

.close-btn:hover {
    opacity: 1;
}

.task__form {
    display: grid;
    gap: 1em;
}

.task__form-name {
    border: none;
    outline: none;
    font-size: 1.8rem;
    padding-inline-start: 0.8em;
}

.task__form-name:focus,
.task__form-note:focus {
    border-left: 2px solid gray;
}

.task__form-note {
    resize: none;
    border: none;
    outline: none;
    padding-inline-start: 0.8em;
}

.task-expiration {
    color: var(--font-title-clr);
    border: none;
}

.task__form-expiration-category-span {
    display: grid;
    grid-auto-flow: column;
    place-content: start;
    gap: 1em;
    padding-inline-start: 0.8em;
}

@media (max-width: 520px) {
    .task__form-expiration-category-span {
        grid-auto-flow: row;
        place-content: center;
    }
}
