/* .container {
    position: relative;
} */
.content {
    position: relative;
    /* min-inline-size: 300px;
    max-inline-size: 720px;
    min-block-size: 720px;
    margin: 5%;
    padding: 2em; */
    display: grid;

    grid-template-rows: min-content min-content auto min-content;
    gap: 1em;
}

/* @media (min-width: 420px) {
    .content {
        margin: 10%;
    }
}

@media (min-width: 720px) {
    .content {
        margin-block: 5%;
        margin-inline: auto;
    }
} */
.add-task-button {
    position: absolute;
    bottom: 5%;
    right: 10%;
    padding: 1em;
    inline-size: 64px;
    border-radius: 9999999px;
    background-color: var(--checkbox-secondary-clr);
    display: grid;
    place-content: center;
}

.add-task-button > * {
    color: whitesmoke;
}
