.content {
    position: relative;
    display: grid;

    grid-template-rows: min-content min-content auto min-content;
    gap: 1em;
}

.add-task-button {
    position: absolute;
    bottom: 5%;
    right: 10%;
    padding: 1em;
    inline-size: 64px;
    border-radius: 9999999px;
    background-color: var(--checkbox-secondary-clr);
    display: grid;
    place-content: center;
}

.add-task-button > * {
    color: whitesmoke;
}
