.container {
    min-inline-size: 300px;
    max-inline-size: 720px;
    min-block-size: 720px;
    margin: 5%;
    padding: 2em;
    position: relative;
}

@media (min-width: 420px) {
    .container {
        margin: 10%;
    }
}

@media (min-width: 720px) {
    .container {
        margin-block: 5%;
        margin-inline: auto;
    }
}

.close-btn {
    border: 2px solid var(--font-title-clr);
    inline-size: 36px;
    block-size: 36px;
    border-radius: 99999px;
    padding: 0.625em;
    display: grid;
    place-content: center;
    color: black;
    margin-inline-start: auto;
    opacity: 0.6;
    transition: opacity 0.2s;
}

.close-btn:hover {
    opacity: 1;
}

.form {
    display: grid;
    gap: 1em;
}

.task-name {
    border: none;
    outline: none;
    font-size: 1.8rem;
}

.task-name:focus,
.task-note:focus {
    border-left: 2px solid gray;
}

.task-note {
    resize: none;
    border: none;
    outline: none;
}

.task-expiration {
    color: var(--font-title-clr);
    border: none;
}
