.tasks__card {
    display: flex;
    align-items: center;
    padding-inline-start: 1em;
}

.tasks__card:nth-of-type(n) {
    --clr: var(--checkbox-primary-clr);
}

.tasks__card:nth-of-type(2n) {
    --clr: var(--checkbox-secondary-clr);
}

.btns-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    gap: 0.325em;
    padding-inline: 1em;
    margin-inline-start: auto;
}

.edit-btn {
    appearance: none;
    display: grid;
    place-content: center;
    color: gray;
    opacity: 0.8;
}

.delete-btn {
    opacity: 0.8;
}

.edit-btn, .delete-btn {
    transition: opacity 0.2s;
}

.edit-btn:hover, .delete-btn:hover {
    opacity: 1;
}

.card__checkbox {
    appearance: none;
    padding: 0.6rem;
    border-radius: 20px;
    border-width: 0.125rem;
    border-style: solid;
    position: relative;
    border-color: var(--clr);
}

.card__checkbox[type="checkbox"]:checked {
    background-color: var(--bg-primary-clr);
    border-color: var(--bg-primary-clr);
}

.card__checkbox:checked::before {
    content: "✔";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    color: whitesmoke;
    background-color: inherit;
    display: grid;
    place-content: center;
}

.card__checkbox,
.card__checkbox-label {
    cursor: pointer;
}

.card__checkbox[type="checkbox"] ~ .card__checkbox-label {
    margin-inline-start: 1em;
}

.card__checkbox[type="checkbox"]:checked ~ .card__checkbox-label {
    text-decoration: line-through;
    margin-inline-start: 1em;
}
