.tasks {
    display: grid;
    overflow-y: hidden;
}

.tasks__filter {
    display: grid;
    padding-block-start: 1em;
    justify-content: space-between;
    grid-auto-flow: column;
    place-items: center;
}

.tasks__label {
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: var(--font-title-clr);
}

@media (max-width: 420px) {
    .tasks__label {
        display: none;
    }
}

.tasks__cards {
    margin-block-start: 2em;
    padding-block-end: 2em;
    display: grid;
    gap: 1em;
    grid-auto-rows: 60px;
    overflow-y: scroll;
}
